.row-margin-5 {
    margin-top: 5px;
}

.row-margin-10 {
    margin-top: 10px;
}

.row-margin-15 {
    margin-top: 15px;
}

.row-margin-20 {
    margin-top: 20px;
}

.row-margin-25 {
    margin-top: 25px;
}

.row-margin-30 {
    margin-top: 30px;
}

.row-margin-35 {
    margin-top: 35px;
}

.row-margin-40 {
    margin-top: 40px;
}

.row-margin-45 {
    margin-top: 45px;
}

.row-margin-50 {
    margin-top: 50px;
}
